<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <div>
      <form
        action="http://localhost:1341/files"
        enctype="multipart/form-data"
        method="post"
      >
        <label for="csv"></label>
        <input type="file" name="csv" id="csv" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
